@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --primary-color: #272262;
  --hover-color: #4038a0;
  --error-background: #ffbbbb;
  --error-text: #ff0000;
  --button-hover-bg: #ebebeb;
  --button-text: #ffffff;
  --link-color: #7a3077;
  --link-hover-color: --primary-color;
  --input-transition: all .3s ease-out;
  --button-transition: all .4s ease-out;
  --label-transition: all .3s ease-out;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/signin-bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}

.card {
  background-color: var(--primary-color)80;
  /* Adjusted for RGBA color with opacity */
  padding: 30px;
  border-radius: 4%;
  box-shadow: 3px 3px 1px #00000060;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.label-float {
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
}

.label-float input {
  width: 100%;
  padding: 5px;
  display: block;
  /* Changed from inline-block for consistency */
  border: 0;
  background-color: transparent;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  transition: var(--input-transition);
  border-radius: 0;
  border-bottom: 2px solid var(--primary-color);
}

.label-float input:focus {
  border-bottom: 2px solid var(--hover-color);
}

.label-float label {
  color: var(--primary-color);
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: var(--label-transition);
}

.label-float input:focus+label,
.label-float input:valid+label {
  font-size: 13px;
  margin-top: 0;
  color: var(--hover-color);
}

button {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 7px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: var(--button-transition);
}

button:hover {
  background-color: var(--button-hover-bg);
  color: var(--button-text);
}

hr {
  margin: 5% auto;
  /* Adjusted for a more symmetrical look */
  width: 60%;
}

p,
a {
  text-align: center;
  /* Centered text for 'a' for consistency */
  color: var(--button-text);
  font-size: 20pt;
}

a {
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
  transition: var(--button-transition);
}

a:hover {
  color: var(--link-hover-color);
}

.fa-eye {
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  color: var(--primary-color);
}

#msgError {
  text-align: center;
  color: var(--error-text);
  background-color: var(--error-background);
  padding: 10px;
  border-radius: 4px;
}